// Main layout

html {}
body {
    font-size: $base-font-size;
    color: $base-color;
    background-color: $bg-color;
}
a {}
h1 {}
h2 {}
h3 {}

.layout__site-wrapper {}
.layout__content {

}

// WordPress Customization
#wpadminbar {
    position: fixed !important;
}

// Utilities
// Displaying collapsible content
.collapse,
.collapsing {
    display: none;
    &.in {
        display: block;
    }
}
// Equal height columns with Bootstrap columns class
// .row>.col-container>.col-sm-6+.col-sm-6
.col-container {
    overflow: hidden;
    @media (min-width: $screen-md) {
        display: table;
        width: 100%;
        table-layout: fixed;
        & > [class*="col"] {
            float: none;
            display: table-cell;
            vertical-align: top;
        }
    }
    &--sm {
        @media (min-width: $screen-sm) {
            display: table;
            width: 100%;
            & > [class*="col"] {
                float: none;
                display: table-cell;
                vertical-align: top;
            }
        }
    }
}
