// Variables

// Colors
$bg-color:                 #ffffff;
$primary:                  #455a64;
$primary-dark:             #263238;
$accent:                   #ff5722;
$accent-dark:              #bf360c;

// WordPress Admin
$wp-admin-bar:             32px;
$wp-admin-bar-xs:          46px;

// Layouts
// Font and color
$base-font-size:           13px;
$base-color:               #212121;
$link-color:               $accent;
$border-line-color:        #eeeeee;

// Header
$header-height:            0;
$header-height-xs:         0;
$header-navbar-bg-color:   $primary-dark;

// Transitions
$transition-duration:      .25s;
$transition-duration-slow: .4s;
