// -- Bootstrap
// Core variables and mixins
@import "../vendor/bootstrap/bootstrap/variables";
@import "../vendor/bootstrap/bootstrap/mixins";

// -- Customize Bootstrap variables
$icon-font-path: "../fonts/";
// $grid-float-breakpoint: $screen-md-min;

// Reset and dependencies
@import "../vendor/bootstrap/bootstrap/normalize";
@import "../vendor/bootstrap/bootstrap/print";
@import "../vendor/bootstrap/bootstrap/glyphicons";

// Core CSS
@import "../vendor/bootstrap/bootstrap/scaffolding";
@import "../vendor/bootstrap/bootstrap/type";
@import "../vendor/bootstrap/bootstrap/code";
@import "../vendor/bootstrap/bootstrap/grid";
@import "../vendor/bootstrap/bootstrap/tables";
@import "../vendor/bootstrap/bootstrap/forms";
@import "../vendor/bootstrap/bootstrap/buttons";

// Components
@import "../vendor/bootstrap/bootstrap/component-animations";
@import "../vendor/bootstrap/bootstrap/dropdowns";
@import "../vendor/bootstrap/bootstrap/button-groups";
@import "../vendor/bootstrap/bootstrap/input-groups";
@import "../vendor/bootstrap/bootstrap/navs";
@import "../vendor/bootstrap/bootstrap/navbar";
// @import "../vendor/bootstrap/bootstrap/breadcrumbs";
@import "../vendor/bootstrap/bootstrap/pagination";
// @import "../vendor/bootstrap/bootstrap/pager";
// @import "../vendor/bootstrap/bootstrap/labels";
// @import "../vendor/bootstrap/bootstrap/badges";
// @import "../vendor/bootstrap/bootstrap/jumbotron";
// @import "../vendor/bootstrap/bootstrap/thumbnails";
// @import "../vendor/bootstrap/bootstrap/alerts";
// @import "../vendor/bootstrap/bootstrap/progress-bars";
// @import "../vendor/bootstrap/bootstrap/media";
// @import "../vendor/bootstrap/bootstrap/list-group";
// @import "../vendor/bootstrap/bootstrap/panels";
@import "../vendor/bootstrap/bootstrap/responsive-embed";
// @import "../vendor/bootstrap/bootstrap/wells";
@import "../vendor/bootstrap/bootstrap/close";

// Components w/ JavaScript
// @import "../vendor/bootstrap/bootstrap/modals";
// @import "../vendor/bootstrap/bootstrap/tooltip";
// @import "../vendor/bootstrap/bootstrap/popovers";
// @import "../vendor/bootstrap/bootstrap/carousel";

// Utility classes
@import "../vendor/bootstrap/bootstrap/utilities";
@import "../vendor/bootstrap/bootstrap/responsive-utilities";


// -- FontAwesome
@import "../vendor/font-awesome/variables";

// -- Customize FontAwesome variables
// -- Customize FontAwesome variables
$fa-font-path: "../fonts";
@import "../vendor/font-awesome/mixins";
@import "../vendor/font-awesome/path";
@import "../vendor/font-awesome/core";
// @import "../vendor/font-awesome/larger";
// @import "../vendor/font-awesome/fixed-width";
@import "../vendor/font-awesome/list";
@import "../vendor/font-awesome/bordered-pulled";
// @import "../vendor/font-awesome/animated";
// @import "../vendor/font-awesome/rotated-flipped";
// @import "../vendor/font-awesome/stacked";
@import "../vendor/font-awesome/icons";
// @import "../vendor/font-awesome/screen-reader";

@import "../vendor/hamburgers/hamburgers";
