<ul class="main-menu--header-nav nav navbar-nav" id="main-menu--header">
    <li class="">
        <a href="#">Home</a>
    </li>
    <li class="">
        <a href="#">About</a>
    </li>
    <li class="">
        <a href="#">Contact</a>
    </li>
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Solutions <span class="caret"></span></a>
        <ul class="dropdown-menu">
            <li><a href="#">One</a></li>
            <li><a href="#">Two</a></li>
            <li><a href="#">Three</a></li>
        </ul>
    </li>
</ul>
