<section class="section section--main">
    <div class="section-container">
        <div class="section-title">
            <h1 class="section-title-text"></h1>
        </div>
        <div class="section-content">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12"></div>
                </div>
            </div>
        </div>
    </div>
</section>
